.home {
  display: grid;
  grid-template-columns: 20vw 35vw;
  grid-template-rows: 30vh 35vh auto;
  grid-gap: 40px;
  justify-content: center;
  padding: 20px 0px;
}

.introduction {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;

  .profile-picture {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      height: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
    }
  }
  .introduction-box {
    grid-area: 1 / 2 / 2 / 3;
    p {
      text-align: center;
    }
    p[class='name'] {
      font-size: 2rem;
      font-weight: 900;
    }
  }
  .personal-info {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.details {
  grid-area: 1 / 2 / 3 / 3;
  display: grid;
  height: stretch;
  grid-template-rows: auto 90%;
  &__container {
    grid-area: 1 / 1 / 3 / 3;
  }
  .education {
    padding: 0px 20px;
    &__card {
      display: grid;
      grid-template-columns: 15% 85%;
    }
    &__image {
      align-self: center;
      img {
        width: 80%;
        border-radius: 1rem;
      }
    }
    &__details {
      padding: 0px 30px;
      h1 {
        margin: 0px;
      }
    }
  }
}

.SkillSet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__card {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
    .skill-name {
      font-size: 1.5em;
      padding-left: 15px;
    }
    .skill-icon {
      width: 50px;
      height: 50px;
    }
  }
}

.projects {
  grid-area: 3 / 1 / 4 / 3;

  display: grid;
  grid-template-columns: 15% 15% 70%;
  grid-template-rows: 60px 40px auto;
  grid-template-areas:
    'title title title'
    'tag-selector sorting-selector search-bar'
    'projects-container projects-container projects-container';
  row-gap: 10px;

  .title {
    grid-area: title;
    margin: 0px;
    text-align: center;
  }

  .tag-selector {
    grid-area: tag-selector;
  }
  .sorting-selector {
    grid-area: sorting-selector;
  }
  .search-bar {
    grid-area: search-bar;
  }
  .projects-container {
    grid-area: projects-container;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;

    hr {
      width: 90%;
      margin-top: 20px;
      border: 0;
      border-top: 1px solid #ccc;
    }
  }

  .project-card {
    display: grid;
    width: 100%;
    height: 530px;
    grid-template-rows: auto 40px 140px auto;
    grid-template-areas:
      'snapshot'
      'title'
      'details'
      'selector';
    padding: 0px;
    border-radius: 10px;
    .project-snapshot {
      grid-area: snapshot;
      box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
      border-radius: 0.5rem;
      width: 100%;
      aspect-ratio: 16 / 9;
    }

    .project-title {
      grid-area: title;
      font-weight: bold;
      font-size: 1.2em;
      text-align: center;
    }

    .project-details {
      grid-area: details;
      margin: 0px 10px;
    }

    .project-selector {
      grid-area: selector;
    }
  }
}
