.container{
    display: grid;
    grid-template-columns: 20% 80%;
}

body{
    background-image: url("https://wallpapers.com/images/featured/hkscjb18fndzwr53.jpg");
}

header {
    display: flex;
    height: 40px;
    grid-column: 1/3;
    border-radius: 10px;
    justify-content: center;
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    padding-bottom: 20px;
    text-shadow: 5px 5px #000000;
}

nav {
    background-color: rgb(63, 19, 19);
    height: auto;
    margin: 10px;
    border-radius: 15px;
    padding: 20px 10px 20px 10px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 3px 3px rgb(86, 35, 35);
}
main {
    display: grid;

    min-height: 550px;
    max-height: auto;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.newItem {
    display: block;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.newItem select,
.newItem input{
    display: flex;
    border-radius: 15px;
    justify-content: center;
    opacity: .8;
}

.reset:hover,
.submit:hover {
    cursor: pointer;
}

.numberInput {
    width: 150px;
}

.guitar {
    background-color: rgb(35, 35, 35);
    display: block;
    border: 3px double rgb(48, 48, 48);
    margin: 15px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 3px 3px rgb(83, 83, 83);
}
.guitar img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 90%;
    height: 300px;
    border-radius: 15px;
    border: 1px solid grey;
}
.guitar p{
    display: block;
    color: white;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    inline-size: 100%;
}
.stock {
    opacity: 60%;
}
.stock:hover {
    color: rgb(111, 255, 0);
    opacity: 100%;
    font-style:italic;
    cursor: pointer;
}
.remove {
    display: block;
    background-color: red;
    display: block;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    border-radius: 15px;
}
.remove:hover {
    cursor: pointer;
}

main .guitar:hover{
    transform: scale(1.03);
    background-color: rgb(71, 71, 71);
    transition: transform .1s ease ;
}
.moreInfo {
    opacity: 0;
}

main .guitar:active {
    height: 480px;
    transition: height .1s ease;
}
main .guitar:active .moreInfo{
    opacity: 1;
}

@media (max-width: 1200px){
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 992px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    nav {
        width: 170px;
    }
}

form {
    margin-top: 30px;
}