.project-card {
  display: grid;
  width: 100%;

  grid-template-rows: auto 40px 140px auto;
  grid-template-areas:
    'snapshot'
    'title'
    'details'
    'selector';
  padding: 0px;
  border-radius: 10px;
}

.project-snapshot {
  grid-area: snapshot;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.project-title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.project-details {
  grid-area: details;
  width: stretch;
}

.project-selector {
  grid-area: selector;
}
