body {
    background-color: rgb(93, 20, 57);
}
main {
    display: flex;
    justify-content: center;
}
.divName {
    font-size: 40px;
    color: aliceblue;
}
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 400px;
    margin-bottom: 50px;

}


.divImage {
    display: flex;
    justify-content: center;
}
.image {
    border-radius: 30%;
}
.info {
    display: block;
    padding-left: 10px;
    padding-top: 20px;    
}

.address,
.dob,
.username{
    display: block;
    padding-left: 40px;
    color: white;
    font-size: 25px;
    height: 40px;
}
footer {
    height: 30px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    color: white;
    padding: 0;
}

.phone,
.email{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.back{
    margin-top: 20px;
    grid-column: 5/6;
    padding: 0;
    margin: 0;
}

.phone {
    grid-column: 2/3;
    padding-left: 20px;
}
.email {
    grid-column: 1/2;
    width: auto;
    white-space: nowrap;
}

