@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: 'Work Sans', sans-serif;

$primary: #bf94d2; //Blue
$secondary: #5f2279; // purple
$accent: #a92cdd; //Violet
$background-first: #8731ac; // Matching white
$background-second: #37004d; // Matching white
$text-dark: #080609; // Text
$text-light: #eeecef; // Text
$border: rgb(91, 91, 91);
$inner-border: rgb(113, 113, 113);
