@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: 'Work Sans', sans-serif;

$primary: #b196ff; //Blue
$secondary: #6d42e9; // purple
$accent: #563f97; //Violet
$background: #252525;
$background-light: #3d3d3d;
$text-dark: #080609; // Text
$text-light: #dbd8e3; // Text
$border: rgb(91, 91, 91);
$inner-border: rgb(113, 113, 113);
