.about-me {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 40% 60%;
}

.profile-picture {
  grid-area: 1 / 1 / 3 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  &__img {
    height: 100%;
    border-radius: 50%;
  }
}

.introduction-box {
  grid-area: 1 / 2 / 2 / 3;
  p {
    text-align: center;
  }
  p[class='name'] {
    font-size: 2rem;
    font-weight: 900;
  }
}

.personal-info {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
