@media (max-width: 1200px){
    div#Ynkpicture{
        margin-left: 30px;
    }
    div.introSection{
        margin-left: 0px;
    }
    img.projectImg{
        width: 350px;
    }
    div.project{
        width: 450px;
    }
}

@media (max-width: 1100px){
    div#Ynkpicture{
        margin-left: 5px;
    }
    div.introSection{
        font-size: 80%;
    }
}
@media (max-width: 992px){
    div.intro {
        display: block;
    }
    div#Ynkpicture{
        justify-content: center;
    }
    div#gspace{
        display: none;
    }
    div.introSection{
        display: block;
        justify-content: center;
    }
    div#greeting {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    div.introSection {

    }
}
@media (max-width: 768px){

}