@import '../../styles/main.scss';

.navbar {
  position: fixed;
  z-index: 5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  margin-top: 20px;
}

.navbar-option {
  display: grid;
  grid-template-rows: 75% 25%;
  justify-content: center;
  min-width: 80px;
  height: 70px;
  margin: 0px 3px;
  border: 0px;
  border-radius: 0.5rem;
  background: 0;
  text-decoration: none;
  .icon {
    color: $text-light;
    font-size: 35px;
    align-self: center;
    justify-self: center;
  }
  .text {
    align-self: end;
    justify-self: center;
    margin: 0px;
    font-size: 14px;
    color: $text-light;
    text-decoration: none;
  }

  &:hover {
    background-color: $accent;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    .icon {
      color: white;
      text-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
    }
    .text {
      color: white;
      text-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.5);
    }
  }
}
