.navbar-container {
  display: flex;
  height: 80px;
  justify-content: center;

  padding: 10px 10px 0px 10px;
}

.navbar {
  display: flex;
  align-items: center;

  a {
    color: white;
    margin: 0px 10px;
    text-decoration: none;
  }
}
